dbMigration/flywayDbConnection.conf
dbMigration/flywayDbConnectionLocal.conf
dbMigration/mysqlDbConnection.conf
dbMigration/mysqlDbConnectionLocal.conf
dbMigration/sqlData/*.xlsx
node_modules/*
.vscode/*