name: Deploy SmartHome web CI

on:
    push:
        branches:
            - dev
            - test
            - master

env:
    ABK_DOMAIN: abkcompany.com

jobs:
    Deploy:
        name: Ran on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ ubuntu-latest ]
                # os: [ ubuntu-latest, macOS-latest ]

        steps:
            - uses: actions/checkout@master

            - name: Update time stamp and check the checkout
              run: touch index.html && pwd && ls -la

            - name: dev branch?
              if:   endsWith(github.ref, '/dev')
              run:  echo "::set-env name=ABK_ENV::dev"
            - name: test branch?
              if:   endsWith(github.ref, '/test')
              run:  echo "::set-env name=ABK_ENV::test"
            - name: master branch aka prod?
              if:   endsWith(github.ref, '/master')
              run:  echo "::set-env name=ABK_ENV::prod"

            - name: Set ABK_REPO_NAME
              run:  echo ::set-env name=ABK_REPO_NAME::$(echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}' | tr '[:upper:]' '[:lower:]')

            - name: Set ABK_SUB_DOMAIN
              run:  echo ::set-env name=ABK_SUB_DOMAIN::$([ "$ABK_ENV" != "prod" ] && echo "$ABK_REPO_NAME-$ABK_ENV" || echo "$ABK_REPO_NAME")

            - name: "Print setup variables: "
              run: |
                echo "\$ABK_ENV         = $ABK_ENV"
                echo "\$ABK_REPO_NAME   = $ABK_REPO_NAME"
                echo "\$ABK_DOMAIN      = $ABK_DOMAIN"
                echo "\$ABK_SUB_DOMAIN  = $ABK_REPO_NAME-$ABK_ENV"
                echo "\$ABK_SUB_DOMAIN  = $ABK_SUB_DOMAIN"
                echo "FULL_DOMAIN_NAME = $ABK_SUB_DOMAIN.$ABK_DOMAIN"

            - name: "Backup website: $ABK_SUB_DOMAIN.$ABK_DOMAIN"
              run:  echo "backing up"

            - name: "Sync to hosting website: $ABK_SUB_DOMAIN.$ABK_DOMAIN"
              run:  echo "syncing"
